<%= render 'shared/errors', obj: @article %>

<section class="show-section">
	<p style="font-family: sans-serif; color:#888888; font-size:40px; letter-spacing:-2px; text-align:center;">
		Create New Article
	</p>
</section>

<%= render 'form' %>