$navbar-default-bg: #ffffff;

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #f8f8f8;
}

.post-section{
	visibility: visible; 
	animation-name: fadeIn; 
	background-color:#ffffff; 
	padding:10px;
	margin-top:40px;
	box-shadow: 2px 2px 2px #eeeeee;
}

a.title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
	color: #727272;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.date {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #727272;
}

.description {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}

.show-section{
	visibility: visible; 
	animation-name: fadeIn; 
	background-color:#ffffff; 
	padding:10px;
	margin-top:40px;
	box-shadow: 2px 2px 2px #eeeeee;
}

.article-title {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
font-size: 36px; 
color: #000000;
margin: 20px; 
margin-bottom: 10px; 
text-align:center;
}

.article-by {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	color: #000000;
	margin: 5px;
	text-align: center;
}

.article-content {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	color: #333333;
	line-height: 22px;
	white-space: pre-line;
}

.user-header{
	background-color: #ffffff;
	padding:10px;
}

.user-title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#888888;
	font-size:20px;
	letter-spacing:-2px;
	text-align:center;
	text-transform: uppercase; 
}

a.edit-title {
	color: #888888; 
	text-decoration: none; 
	font-size: 22px; 
	font-family: sans-serif;
}

a.name-user {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase; 
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #dddddd;
	color: #dddddd;
}

footer a {
	color: #dddddd;
	text-decoration: none;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float:left;
	margin-left: 15px;
}