$navbar-default-bg: white;
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #f8f8f8;
}

.post-section{
	height: 353px;
	visibility: visible; 
	animation-name: fadeIn; 
	background-color:#ffffff; 
	padding:10px;
	margin-top:40px;
}

a.title {
	font-family: sans-serif;
	font-size: 22px;
	color: #000000;
	text-decoration: none;
}

.date {
	font-family: sans-serif;
	font-size: 12px;
	color: #727272;
}

.description {
	font-family: sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}

.show-section{
	visibility: visible; 
	animation-name: fadeIn; 
	background-color:#ffffff; 
	padding:10px;
	margin-top:40px;
}

.user-header{
	background-color: #ffffff;
	padding:10px;
}

.user-title {
	font-family: sans-serif;
	font-size: 30px;
	color: #000000;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #727272;
	color: #727272;
}

footer a {
	color: #727272;
	text-decoration: none;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float:left;
	margin-left: 15px;
}