<nav class="navbar navbar-default">
	<div class="container-fluid">
    <div class="nav navbar-nav navbar-left">
			<ul class="nav navbar-nav">
				<li>
					<%= image_tag 'logo.jpg', style: 'width:150px; height:75px;'%>
        </li>
        <li style="font-family:helvetica; font-size:35px; color:#aaaaaa; letter-spacing:-5px; font-weight:100; margin-top:15px;">
    			BLOG
        </li>
      </ul>
    </div>
    <% if current_user.present? %>
      <%= link_to 'Home', articles_path, style: "margin-top:20px", class: "collapsed btn btn-small btn-primary pull-right" %>
    <% else %>
      <%= link_to 'Home', root_path, style: "margin-top:20px; margin-right:10px;", class: "collapsed btn btn-small btn-primary pull-right" %>
    <% end %>
  </div>
</nav>
